
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.sign {
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}
.sign-in-box {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 214, 214) ;
    justify-content: space-evenly;
    width: 500px;
}

.Create {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
}

.new {
    color: rgb(95, 94, 94);
}

.cbutton {
    background-color: rgb(209, 209, 209);
    border-color: rgb(208, 207, 207);
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}


.outside area {
    
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 214, 214) ;
    justify-content: space-evenly;
    width: 500px;
}

hr {
    color: rgb(0, 0, 0);
}


.fpw {
    padding-left: 55%;
    
}

form {
  text-align: left;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.input-box {
   width: 100%;
   /* padding-left: 10px; */ 
   
}

.form-labels {
    display: flex;
    flex-direction: column;
    text-align: left;
    
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
 
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto; */
}

.login-info {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

.Continue {
    background-color: rgb(255, 190, 93);
    border-color: rgb(218, 158, 7);
    color: rgb(57, 57, 57);
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space {
    padding-left: 5px;
    padding-right: 5px;
}

/* hr blocks */

#text-line {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.text-line-hr
{
  display:inline-block;
  width: 2%;

}
.text-line-text {
  text-align:center;
  display:inline-block;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}              

h5 {
display: flex;
align-items: center;
justify-content: center;
color: rgb(92, 91, 91);
font-size: 18px;
}

.bottomsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}



i{
    padding-right: 10px;
    font-size: 5px;  /* use font size to control how big icon is */
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}




.fa-solid, fa-play {
    size: 1px;
    color: #0d6efd;
}

